.asidebar {
  background-color: var(--secondary-color);
  width: 250px;
  min-height: 95vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  display: hidden;
}

.visible {
  display: flex;
}

.hidden {
  display: none;
}

.button-container {
  padding: 1rem;
  border-bottom: 1px solid var(--contrast-color);
  position: sticky;
  top: 0;
  background-color: var(--secondary-color);
  z-index: 2;
}

.aside-content {
  padding: 1rem 0;
  flex: 1 1 auto;
}

.aside-title {
  font-size: 1rem;
  color: rgb(145, 145, 145);
  padding-left: 1rem;
}

.message {
  all: unset;
  display: flex;
  gap: 0.8rem;
  align-items: center;
  cursor: pointer;
  width: 93%;
  padding: 5px 0;
  padding-left: 15px;
  /* border: 1px solid var(--contrast-color); */
  /* border-radius: 0.5rem; */
  background-color: none;
}

.message:hover {
  background-color: var(--contrast-color);
  border-radius: 0.5rem;
  border: 1px solid rgb(201, 201, 201);
}

.message p {
  margin: 0;
  font-weight: 500;
}

.message.active {
  background-color: var(--primary-color);
  color: white;
  border-radius: 0.5rem;
  border: 2px solid var(--primary-color);
}

.profile-image {
  border-radius: 50%;
  aspect-ratio: 1/1;
}

.profile-avatar {
  border-radius: 50% !important;
  width: 50px !important;
  height: 50px !important;
  object-fit: cover !important;
}

.direct-messages {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  margin-top: 20px;
  width: 100%;
}
