

<aside class="asidebar">
    <div class="button-container">
        <Button Variant="ButtonVariant.Primary" Size="ButtonSize.Medium" > Start a new conversation </Button>
    </div>

    <div class="aside-content">
        <h2 class="aside-title">Direct Messages</h2>
        <div class="direct-messages">
        
            <div class="message">
                <div class="profile-image">
                    <img src="images/Profile.svg" alt="Profile Icon" width="50px" />
                </div>
                <p>User Name</p>
            </div>
            <div class="message">
                <div class="profile-image">
                    <img src="images/Profile.svg" alt="Profile Icon" width="50px" />
                </div>
                <p>User Name</p>
            </div>
            <div class="message">
                <div class="profile-image">
                    <img src="images/Profile.svg" alt="Profile Icon" width="50px" />
                </div>
                <p>User Name</p>
            </div>
            <div class="message">
                <div class="profile-image">
                    <img src="images/Profile.svg" alt="Profile Icon" width="50px" />
                </div>
                <p>User Name</p>
            </div>
            <div class="message">
                <div class="profile-image">
                    <img src="images/Profile.svg" alt="Profile Icon" width="50px" />
                </div>
                <p>User Name</p>
            </div>
            <div class="message">
                <div class="profile-image">
                    <img src="images/Profile.svg" alt="Profile Icon" width="50px" />
                </div>
                <p>User Name</p>
            </div>
            <div class="message">
                <div class="profile-image">
                    <img src="images/Profile.svg" alt="Profile Icon" width="50px" />
                </div>
                <p>User Name</p>
            </div>
            <div class="message">
                <div class="profile-image">
                    <img src="images/Profile.svg" alt="Profile Icon" width="50px" />
                </div>
                <p>User Name</p>
            </div>
            <div class="message">
                <div class="profile-image">
                    <img src="images/Profile.svg" alt="Profile Icon" width="50px" />
                </div>
                <p>User Name</p>
            </div>
            <div class="message">
                <div class="profile-image">
                    <img src="images/Profile.svg" alt="Profile Icon" width="50px" />
                </div>
                <p>User Name</p>
            </div>
            <div class="message">
                <div class="profile-image">
                    <img src="images/Profile.svg" alt="Profile Icon" width="50px" />
                </div>
                <p>User Name</p>
            </div>
                     <div class="message">
                <div class="profile-image">
                    <img src="images/Profile.svg" alt="Profile Icon" width="50px" />
                </div>
                <p>User Name</p>
            </div>
                     <div class="message">
                <div class="profile-image">
                    <img src="images/Profile.svg" alt="Profile Icon" width="50px" />
                </div>
                <p>User Name</p>
            </div>
                     <div class="message">
                <div class="profile-image">
                    <img src="images/Profile.svg" alt="Profile Icon" width="50px" />
                </div>
                <p>User Name</p>
            </div>
                     <div class="message">
                <div class="profile-image">
                    <img src="images/Profile.svg" alt="Profile Icon" width="50px" />
                </div>
                <p>User Name</p>
            </div>
        </div>
    </div>

</aside>