@inherits LayoutComponentBase


<div class="page">
    <div class="overlay @(isSidebarOpen ? "active" : "")" @onclick="CloseSidebar"></div>    
    <div class="sidebar  @(isSidebarOpen ? "open" : "closed")">
        
       
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <button class="HamButton hamTopButtom" @onclick="ToggleSidebar">&#9776</button>
            <div class="top-nav">
                <a href="#" @onclick:preventDefault="true">
                    <img src="images/Notification.svg" alt="Logo" height="35px"/>
                </a>
                <Button Variant="ButtonVariant.Secondary" Size="ButtonSize.Small" >
                    Log out
                </Button>
            </div>

        </div>

        <div class="main-content">
            <AsideBar />
            <div class="">
                @Body
            </div>
        </div>


    </main>
</div>
@code {
    private bool isSidebarOpen = false;

    private void ToggleSidebar() => isSidebarOpen = !isSidebarOpen;

    private void CloseSidebar(Microsoft.AspNetCore.Components.Web.MouseEventArgs e) => isSidebarOpen = false;
}